
# Virtual environment
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3

# Streamlit secrets
.streamlit/secrets.toml

backend/apps/uploads/*